@model Association.Models.Category

@{
    ViewBag.Title = "Details";
}

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Details</h4>
    </div>


    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.cat_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.cat_name)
            </dd>

        </dl>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Ok</button>
    </div>
</div>
